<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <ul>
                    <li><a href="#">Teach on SCOOP</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Help & Support</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
        </div>
        <h4 class="logo">SCOOP</h4>
    </div>
</footer>