<div class="container">
    <div class="title"> Course Landing Page</div>
    <form action="#">
        <div class="user-details">
            <div class ="input-box">
                <span class="details">Course Title</span>
                <input type="text" placeholder="insert your course title" required>
            </div>
            <div class ="input-box">
                <span class="details">Course Subtitle</span>
                <input type="text" placeholder="insert your course subtitle" required>
            </div>
            <div class ="input-box">
                <span class="details">Course Description</span>
                <textarea rows="5" cols= "60" placeholder="insert your course description" required></textarea>
            </div>
            <div class ="input1">
                <span class="details">Course Image</span>
                <p>Upload your course image here</p>
                <input type="file" class="Upload-box" required accept="image/*">
               <!-- <label for="file">Choose Image</label>-->
            </div>
            <div class ="input-box">
                <span class="details">Course Price</span>
                <input type="text" placeholder="Eth" required>
            </div>
            <div class ="input1">
                <span class="details">Course Upload</span>
                <p>Put together your course by creating sections,
                    lectures and practice (quizzes, coding exercises 
                    and assignments).</p>
                    <input type="file" class="Upload-box" required accept="image/*">
            </div>
        </div>
        <div class="button">
            <input type ="submit" value="Publish">
        </div>
    </form>
</div>
