<div class="course-container">
    <div class="course-col course-col-1">
      <img src="picture.jpg" width="100%" height="100%" alt="some picture"/>
    </div>
    <div class="course-col course-col-2">
      <p class="course-title">Complete C++ masterclass-From Zero to Hero</p>
      <p class="course-description">Take your skills from Beginner to Expert and Crack any coding interview you want</p>
      <p class="course-creator">Elon spuks, jeffery Zebos, Bill Doors & Learning programming</p>
      <div class="meta-data"><p class="total-hours">34.5 Total Hours</p><p class="no-of-lectures">450 Lectures</p><p class="level">Beginners</p></div>
    </div>
    <div class="course-col course-col-3">
      <p>0.5 ETH</p>
    </div>
  </div>